@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background-color: hsl(30, 54%, 90%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    background-color: white;
    max-width: 650px;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    padding: 30px;

    row-gap: 10px;
}

.destaque{
    font-weight: bold;
}

hr {
    border:none;
    border-top: 1px solid hsl(30, 54%, 90%);
    margin: 10px 0;
    margin-bottom: -5px;
}

img {
    width: 100%;
    height: auto;

    border-radius: 15px;
}

h1, h2 {
    font-family: 'Young Serif';
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}

.preparation > h2, p {
    font-family: 'Outfit';
    font-size: 16px;
}



.receita > h1 {
    font-size: 2em;
    color: black;
}

p {
    color: hsl(14, 45%, 36%);
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    color: hsl(14, 45%, 36%);
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
}

.preparation > h2 {
    font-weight: 700;
    color: hsl(332, 51%, 32%);
}

ul, ol{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-family: 'Outfit';
    color: hsl(332, 51%, 32%);
    padding-left: 20px;
}

.ingredients > ul > li , .instructions > ol > li, .ingredients > ul > li, .preparation > ul > li{
    padding-left: 15px;
}

.ingredients > ul > li::marker , .preparation > ul > li::marker{
    font-size: 11px;
}

.instructions > ol > li::marker {
    font-weight: bold;
}

table { 
    font-family: 'Outfit';
    color: hsl(14, 45%, 36%);
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: 1px solid hsl(30, 54%, 90%);
    text-indent: 30px;
    line-height: 40px;
}

th {
    padding-right: 15px;
}

th, td {
    text-align: left;
}

.attribution {
    font-family: 'Outfit';
}

.attribution > a {
    text-decoration: none;
    color:hsl(14, 45%, 36%);
}